# Quartus files and folders
*.rpt
db/
incremental_db/
out/

# Quartus workspace file: stores window position, dock state etc.
*.qws

# ModelSim files and folders
transcript
*.mti
*.wlf
_vmake
_temp/
_primary.*
*.prw
*.psm
*.vstf

# Generic backup files
*~
*.bak
